body{
  background-attachment: fixed;
  background-image: url("images/Pattern2.jpg");
  background-position:center center;
  background-repeat: no-repeat;
  background-size:cover;
}

i {
   content: "";
   background-color: transparent;
   background-repeat: no-repeat;
   background-size 50px 50px;
   background: url ("images/Pattern2.jpeg");
   display: block;
   float: left;
   height: 150%;
   margin-right:50px;
   text-indent:-9999px;
   width:100px;
 }

 h1 {
   color: black;
   text-align: center;
 }

.box1 {
  display: inline-block;
  background: black;
  width: 2000px;
  height: 10px;
  float: left;
  margin: 20px;
  color: black;

}


.box2 {
  display: inline-block;
  background: black;
  width: 2000px;
  height: 10px;
  float: left;
  margin: 20px;
  color: black;
}

.box3 {
  display: inline-block;
  background: black;
  width: 2000px;
  height: 10px;
  float: left;
  margin: 20px;
  color: black;
}

img {max-width: 50%}
