body {
  color: white;

}

h1, ol {
  text-align: center;
  font-family: sans-serif;
  text-decoration: underline;


}

ol {
  list-style: none;
  font-family: sans-serif;
  border: 2px solid red;
}

ul {
  font-family: sans-serif;
  color: red;
  font-size: 8pt;
  
}
